<div>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-3 pe-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Alpha Finance</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"><i class="fa fa-user"></i>&nbsp;&nbsp;<%= current_user.name %></a>
            </li>
            <li class="nav-item">
              <h3><%= button_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link btn btn-lg bg-danger text-light' %></h3>
            </li>
        </ul>
        </div>
      </div>
    </div>
  </nav>


<div class=" flex flex-col gap-2 px-2">
    <% @catagories.each do |catagory| %>
      <div class="w-full bg-white p-2 pr-4 rounded items-center justify-between gap-2 flex">

        <div class="flex items-center gap-2">

          <img src=<%=  "#{catagory.icon}" %> class="rounded float-start" , style='width: 60px; height: 60px' />

          <div>
            <h2 class="text-gray-900 text-lg font-sans"><%= catagory.name %></h2>
            <h3 class="text-gray-600"><%= catagory.created_at.to_date %><h3>
          </div>

        </div>

        <%= link_to catagory_items_path(catagory_id: catagory.id) do %>
          <h3>Details</h3>
        <% end %>
        
      </div>
    <% end %>
  </div>

  <div class="w-full flex h-screen">
    <div class="bg-primary sticky mt-auto ml-auto bottom-5 p-3 w-full flex">
      <%= link_to "ADD CATEGORY", new_catagory_path, class: " text-xl text-center text-white mt-auto ml-auto bottom-5 p-2 w-full hover:border-white" %>
    </div>
  </div>



</div>