<div style="background-color: #dedede; height: 100vh; ">


  <nav class="ps-3 pe-3 d-flex align-items-center bg-gradient", style='height: 60px; background-color: #3778c2;'>
    
      <div class=""> 

        <%= link_to catagories_path do %>
           <i class="fa-solid fa-2x fa-chevron-left me-5 pe-4", style='color: white;'></i>
        <% end %>

      </div> 
      
      <div>

       <%= link_to catagory_items_path do %>
          <span class=" ps-5", style='color: white; font-size: 23px'>ITEMS</span>
        <% end %>

      </div>

  </nav>

  <div class="pt-2 pb-2 bg-white">
      <h2>Total price: <%= "$#{@total_price}" %></h2>
  </div>

  <div class="bg-white mt-3 mb-3 me-3 ms-3 flex flex-col gap-2" >
    <% @items.each do |item| %>
      <div class="d-flex justify-content-between pe-2 ps-2 align-items-center" style="height: 75px;">

        <div class="d-flex align-items-center">
          <i class="fa-solid fa-2x fa-basket-shopping pe-2" style="color: #5fb523"></i>
          <h2 class=""><%= item.name %></h2>
        </div>

        <%= link_to new_catagory_item_path(catagory_id: params['catagory_id']) do %>
          <h2><%= "$#{item.amount}" %></h2>
        <% end %>

      </div>
    <% end %>
  </div>

  <div class="d-flex align-items-center justify-content-center", style='height: 60px; font-weight: bold;  background-color: #5fb523; bottom: 0px; position: absolute; bottom: 0px; width: 100%; text-align: center;' >
        
        <%= link_to new_catagory_item_path do %>
           <i class="fa-solid fa-2x fa-plus text-white"></i>
        <% end %>

  </div>



</div>